header {
  background-color: var(--bgcolor-contraste-claro);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  position: relative;
  height: 70%;
  padding-top: 1.25rem;

  background-image: url("../img/bg-red.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: var(--white);
}

.header-superior span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--white);
}

.icone-mochila {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--bgcolor-contraste-claro);
  border-radius: 2rem;
  padding: 5px;

  font-weight: 500;
  color: #c20001;
}

.icone-mochila span {
  padding: 5px;
  border-radius: 50%;
  background-color: #f6d8d8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-inferior {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  height: 30%;
}

.header-inferior h2 {
  max-width: 11ch;
}

.pokebola {
  position: absolute;
  top: -18vh;
  left: 50%;
  transform: translateX(-50%);

  width: 26vw;
  /* 550px é o mínimo para que a sombra não desapareça */
  min-width: 550px;
  height: 47vh;

  pointer-events: none;
}

.pokebola img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header-busca {
  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background-color: var(--white);

  min-width: 30%;
  padding: 0 1.5rem;

  overflow: hidden;
}

.header-busca input {
  flex: 1;

  padding: 1rem 0;

  font-size: 1.05rem;
  color: #535b61;
}

.header-busca input::placeholder {
  color: #a0afba;
}

@media (max-width: 1024px) {
  /* breakpoint para tablets */
  header {
    min-height: 850px;
  }

  .header-superior {
    gap: 3.5rem;
    text-align: center;
    padding: 1.25rem 0.5rem;
  }
  .header-inferior {
    flex-direction: column;
    justify-content: end;
    gap: 1.725rem;

    padding-bottom: 2rem;
  }

  .header-inferior h2 {
    max-width: none;
  }

  .header-busca {
    min-width: 80%;
  }
}

@media (max-width: 480px) {
  /* breakpoint para celulares */
  .header-superior {
    gap: 2.5rem;
  }

  .header-inferior {
    flex-direction: column;
    justify-content: end;
    gap: 1rem;

    padding-bottom: 1rem;
  }

  .header-busca {
    min-width: 100%;
  }

  .header-inferior h2 {
    max-width: 11ch;
    text-align: center;
  }

  .header-busca input {
    font-size: 0.95rem;
  }

  .pokebola {
    min-width: 0;
    min-height: 60vh;
    width: 100vw;
    top: -28vh;
  }
}
