main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;

  font-weight: 400;
}

@media (max-width: 1024px) {
  /* breakpoint para tablets */
  main {
    display: flex;
    flex-direction: column;
  }
}
