.content {
  padding: 100px 0 40px;
  display: flex;
  flex-direction: column;
}
.pokemons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}

.total-de-pokemons {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;

  margin-bottom: 50px;
}

.total-de-pokemons::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/types/icon-all.svg") no-repeat;
  margin-right: 10px;

  filter: invert(17%) sepia(99%) saturate(6387%) hue-rotate(358deg)
    brightness(105%) contrast(111%);
}

.pokemon,
.pokemon-loading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  height: 300px;
  width: 280px;

  border: 1px solid #ddd;
  box-shadow: rgba(183, 189, 193, 0.3) 0px 10px 51px -5px;
  border-radius: 12px;

  cursor: pointer;
  transition: 0.5s ease;
}

.pokemon:hover {
  transform: translateY(-10px);
}

.pokemon--img,
.pokemon--img-loading {
  width: 75%;
  border-radius: 50%;
  overflow: hidden;

  background: #d6ebdc;
  padding: 20px;
  aspect-ratio: 1/1;

  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon--img img {
  width: 100%;
  object-fit: cover;
}

.pokemon--numero {
  font-size: 13px;
  color: #7a7d80;
  font-weight: 500;
}

.pokemon--numero::before {
  content: "#";
}

.pokemon span,
.loading-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon--nome {
  font-size: 18px;
  font-weight: 600;
  color: #2f3133;
}

.loadBtn {
  align-self: center;

  background-color: rgba(63, 93, 179, 0.1);
  color: #3f5db3;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 28px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  border: none;
  outline: none;

  cursor: pointer;
  transition: all 0.5s;
}

.loadBtn:hover {
  background-color: #3f5db3;
  color: #ffffff;
}

.pokemon-loading {
  background-color: #ddd;
}

.pokemon--img-loading {
  padding: 0;
}

.pokemon--img-loading img {
  display: block;
}

.numero-loading {
  height: 13px;
  width: 4ch;

  background-color: #aaa;
}

.nome-loading {
  height: 17px;
  width: 15ch;
}

.tipo-loading {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  background-color: #aaa;
}

@keyframes loading {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.loading-effect {
  background: linear-gradient(-90deg, #a7a6a6, transparent, #bbb, #a7a6a6);
  background-size: 400%;
  animation: loading 2s linear infinite;
}
